header {
    nav {

        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;

        div {
            ul {

                display: flex;
                gap: 20px;
                margin-bottom: 0;

                li {
                    list-style: none;
                    height: 100%;
                    position: relative;

                    a {
                        text-decoration: none;
                        color: black;
                        height: 100%;

                        &.active::after {
                            content: '';
                            position: absolute;
                            top: 80px;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background-color: #0282f9;
                            transition: .3s;
                        }

                        &.active {
                            color: #0282f9;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 80px;
                            left: 0;
                            width: 0;
                            height: 3px;
                            background-color: #0282f9;
                            transition: .3s;
                        }

                        &:hover::after {
                            width: 100%;
                        }

                        &:hover {
                            color: #0282f9;
                        }
                    }
                }
            }
        }
    }
}

main {

    .container_content {
        height: 400px;
    }

    .section_2 {

        justify-content: space-between;
        position: relative;
        z-index: 1;

        a {

            display: flex;
            align-items: center;

            &:hover {
                text-decoration-color: white;
            }

            .section2_img {
                width: 45px;
            }

            #section2_img {
                width: 32px;
            }

            .fs {
                font-size: 13px;
            }

        }

    }

}

footer {
    background-image: url(../../public/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #7c7c7c;

    .section_1 {

        background-image: url(../../public/img/dc-logo-bg.png);
        background-repeat: no-repeat;
        background-size: 38%;
        background-position: right 10% bottom 45%;

        .container_lista {

            min-width: 43%;

            h2 {
                font-size: 25px;
            }

            ul {

                padding-left: 0;

                li {
                    list-style: none;

                    a {
                        font-size: 15px;
                        text-decoration: none;
                        color: #7c7c7c;

                        &:hover {
                            color: white;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }


    }

    .section_2 {

        padding: 2rem;
        position: relative;
        z-index: 1;
        background-color: #303030;

        div {

            button {
                border: 3px solid #0a73d4;
                color: white;
                background-color: transparent;

                &:hover {
                    background-color: #0a73d4;
                }
            }

            .container_social {

                a {
                    &:nth-child(2):hover {
                        border-radius: 100%;
                        background-color: #1877F2;
                    }

                    &:nth-child(3):hover {
                        border-radius: 100%;
                        background-color: #1DA1F2;
                    }

                    &:nth-child(4):hover {
                        border-radius: 100%;
                        background-color: #CD201F;
                    }

                    &:nth-child(5):hover {
                        border-radius: 100%;
                        background-color: #BD081C;
                    }

                    &:nth-child(6):hover {
                        border-radius: 100%;
                        background-color: #3AAF85;
                    }
                }
            }
        }
    }
}